body{
  font-family:system-ui;
  background:#0f172a;
  color:#fff;
  padding:20px;
}
h2{text-align:center}

form,.card,table{
  background:rgba(255,255,255,.1);
  padding:16px;
  border-radius:14px;
  max-width:600px;
  margin:15px auto;
}

input,button{
  width:100%;
  padding:10px;
  margin:6px 0;
  border:none;
  border-radius:8px;
}

button{
  background:#2ecc71;
  font-weight:bold;
}

table{
  width:100%;
}
td,th{
  padding:8px;
  text-align:center;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
  gap:12px;
}

nav a{
  display:inline-block;
  margin:10px;
  color:#7dd3fc;
}
