body{
  font-family:system-ui;
  background:#1f256b;
  color:#fff;
  text-align:center;
  padding:40px;
}

input{
  padding:12px;
  width:80%;
  margin:10px;
  border-radius:10px;
  border:none;
}

button{
  padding:12px 20px;
  border:none;
  border-radius:10px;
  background:#2ecc71;
  font-weight:bold;
}
